# **PINKSHEPZ'S DATA ANALYTIC**
## Dataset
1. *Candlestick price*: XAUUSD TF 1D - 12 Oct 2020 to 8 May 2023
2. *Economic figure report*: FOREX FACTORY TF 1D - 13 Oct 2020 to 31 Dec 2022

## Analytics
1. Candlestick price distribution
    * Scatter 3D: Time - %Change - Frequency distribution
    * Line 2D: Timezone - Mean %Change
    * Scatter 2D: %Change of n candlestick - %Change of n+1 candlestick
2. Economic figure distribution
3. Candlestick price x economic figure correlation

## 01 Imports & Data Preparation

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

In [98]:
# Import dataset
PATH_XAUUSD = '/workspaces/Enterprise/03_Analytics/input/XAUUSD_080523_121020.csv'
PATH_FOREX = '/workspaces/Enterprise/03_Analytics/input/FOREX_311222_131020.csv'

DF_XAUUSD = pd.read_csv(PATH_XAUUSD).drop(columns=['Vol'])
DF_XAUUSD.iloc[:, 0] = pd.to_datetime(DF_XAUUSD.iloc[:, 0]).dt.date
for col in DF_XAUUSD.columns[1:5]:
    DF_XAUUSD[col] = DF_XAUUSD[col].str.replace(',', '').astype('float64')
DF_XAUUSD['%Change'] = DF_XAUUSD['%Change'].str.replace('%', '').astype('float64')

DF_FOREX = pd.read_csv(PATH_FOREX).iloc[:, 1:]
DF_FOREX.iloc[:, 0] = pd.to_datetime(DF_XAUUSD.iloc[:, 0])
DF_FOREX['currency'].astype('category')
DF_FOREX['impact'].astype('category')
DF_FOREX['event'].astype('category')
for col in DF_FOREX.columns[5:]:
    DF_FOREX[col] = DF_FOREX[col].str.replace(',', '').str.rstrip('%').astype('float64')
DF_FOREX

ValueError: could not convert string to float: '225K'

In [69]:
DF_XAUUSD.describe()

             Close         Open         High          Low     %Change
count   671.000000   671.000000   671.000000   671.000000  671.000000
mean   1823.380030  1823.819553  1836.291461  1810.676185    0.011520
std      83.511881    83.271968    83.882907    81.937003    0.919066
min    1621.570000  1621.990000  1641.320000  1614.350000   -4.590000
25%    1771.765000  1772.480000  1786.170000  1763.090000   -0.460000
50%    1814.560000  1815.140000  1826.930000  1805.530000    0.050000
75%    1874.700000  1875.115000  1887.265000  1862.700000    0.520000
max    2052.410000  2052.750000  2073.290000  2030.340000    3.590000